In [1]:
import pandas as pd
import pymysql

# Function to insert data from DataFrame to MySQL
def insert_data_from_df_to_mysql(df):
    try:
        # Establish connection to the MySQL database
        connection = pymysql.connect(
            host='127.0.0.1',
            user='root',
            password='6381167213',
            database='redbus',
            cursorclass=pymysql.cursors.DictCursor
        )
        
        with connection:
            with connection.cursor() as cursor:
                # Create table if it does not exist
                cursor.execute("""
                CREATE TABLE IF NOT EXISTS bus_details (
                    Route_Name TEXT,
                    Route_Link TEXT,
                    Bus_Name TEXT,
                    Bus_Type TEXT,
                    Departing_Time TIME,
                    Duration TEXT,
                    Reaching_Time TIME,
                    Star_Rating FLOAT,
                    Price DECIMAL(10,2),
                    Seat_Availability VARCHAR(255)
                )
                """)

                # Insert data into the table
                for _, detail in df.iterrows():
                    cursor.execute("""
                    INSERT INTO bus_details (
                        Route_Name, Route_Link, Bus_Name, Bus_Type, Departing_Time, 
                        Duration, Reaching_Time, Star_Rating, Price, Seat_Availability
                    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                    """, (
                        detail['Route_Name'], detail['Route_Link'], detail['Bus_Name'], 
                        detail['Bus_Type'], detail['Departing_Time'], detail['Duration'], 
                        detail['Reaching_Time'], detail['Star_Rating'], detail['Price'], 
                        detail['Seat_Availability']
                    ))

            # Commit the transaction
            connection.commit()

        print("Data inserted successfully into MySQL database.")

    except pymysql.MySQLError as err:
        print(f"Error: {err}")

# List of CSV files to be inserted into the database
csv_files = [
    'jksrtc_bus_details.csv',
    'apsrtc_bus_details.csv',
    'ctutc_bus_deatails.csv',
    'hrtc_bus_details.csv',
    'ksrtc_bus_details.csv',
    'ktcl_bus_details.csv',
    'sbstc_bus_details.csv',
    'tsrtc_bus_details.csv',
    'upsrtc_bus_details.csv',
    'wbtc_bus_details.csv'
]

# Loop through each CSV file and insert data into MySQL
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    insert_data_from_df_to_mysql(df)

Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.
Error: (1366, "Incorrect decimal value: 'INR 676' for column 'Price' at row 1")
Error: (1366, "Incorrect decimal value: 'INR 507' for column 'Price' at row 1")
Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.
Error: (1366, "Incorrect decimal value: 'INR 95' for column 'Price' at row 1")
Error: nan can not be used with MySQL
Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.

In [2]:
import pandas as pd
import pymysql

# Function to preprocess the DataFrame
def preprocess_df(df):
    # Remove 'INR' prefix from the 'Price' column and convert to float
    df['Price'] = df['Price'].replace({'INR ': ''}, regex=True).astype(float)
    
    # Replace NaN values in 'Price' with 0.0
    df['Price'].fillna(0.0, inplace=True)
    
    # Replace NaN values in other columns with appropriate default values
    df.fillna({
        'Route_Name': '',
        'Route_Link': '',
        'Bus_Name': '',
        'Bus_Type': '',
        'Departing_Time': '00:00:00',
        'Duration': '',
        'Reaching_Time': '00:00:00',
        'Star_Rating': 0.0,
        'Seat_Availability': ''
    }, inplace=True)
    
    return df

# Function to insert data from DataFrame to MySQL
def insert_data_from_df_to_mysql(df):
    try:
        # Establish connection to the MySQL database
        connection = pymysql.connect(
            host='127.0.0.1',
            user='root',
            password='6381167213',
            database='redbus',
            cursorclass=pymysql.cursors.DictCursor
        )
        
        with connection:
            with connection.cursor() as cursor:
                # Create table if it does not exist
                cursor.execute("""
                CREATE TABLE IF NOT EXISTS bus_details (
                    Route_Name TEXT,
                    Route_Link TEXT,
                    Bus_Name TEXT,
                    Bus_Type TEXT,
                    Departing_Time TIME,
                    Duration TEXT,
                    Reaching_Time TIME,
                    Star_Rating FLOAT,
                    Price DECIMAL(10,2),
                    Seat_Availability VARCHAR(255)
                )
                """)

                # Insert data into the table
                for _, detail in df.iterrows():
                    cursor.execute("""
                    INSERT INTO bus_details (
                        Route_Name, Route_Link, Bus_Name, Bus_Type, Departing_Time, 
                        Duration, Reaching_Time, Star_Rating, Price, Seat_Availability
                    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                    """, (
                        detail['Route_Name'], detail['Route_Link'], detail['Bus_Name'], 
                        detail['Bus_Type'], detail['Departing_Time'], detail['Duration'], 
                        detail['Reaching_Time'], detail['Star_Rating'], detail['Price'], 
                        detail['Seat_Availability']
                    ))

            # Commit the transaction
            connection.commit()

        print("Data inserted successfully into MySQL database.")

    except pymysql.MySQLError as err:
        print(f"Error: {err}")

# List of CSV files to be inserted into the database
csv_files = [
    'jksrtc_bus_details.csv',
    'apsrtc_bus_details.csv',
    'ctutc_bus_deatails.csv',
    'hrtc_bus_details.csv',
    'ksrtc_bus_details.csv',
    'ktcl_bus_details.csv',
    'sbstc_bus_details.csv',
    'tsrtc_bus_details.csv',
    'upsrtc_bus_details.csv',
    'wbtc_bus_details.csv'
]

# Loop through each CSV file, preprocess the data, and insert it into MySQL
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    df = preprocess_df(df)
    insert_data_from_df_to_mysql(df)

C:\Users\kiran\AppData\Local\Temp\ipykernel_24992\2585439502.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(0.0, inplace=True)
C:\Users\kiran\AppData\Local\Temp\ipykernel_24992\2585439502.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(0.0, inplace=True)

Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.

C:\Users\kiran\AppData\Local\Temp\ipykernel_24992\2585439502.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(0.0, inplace=True)

Data inserted successfully into MySQL database.

C:\Users\kiran\AppData\Local\Temp\ipykernel_24992\2585439502.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(0.0, inplace=True)

Data inserted successfully into MySQL database.

C:\Users\kiran\AppData\Local\Temp\ipykernel_24992\2585439502.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(0.0, inplace=True)

Data inserted successfully into MySQL database.

C:\Users\kiran\AppData\Local\Temp\ipykernel_24992\2585439502.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(0.0, inplace=True)

Data inserted successfully into MySQL database.

C:\Users\kiran\AppData\Local\Temp\ipykernel_24992\2585439502.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(0.0, inplace=True)

Data inserted successfully into MySQL database.

C:\Users\kiran\AppData\Local\Temp\ipykernel_24992\2585439502.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(0.0, inplace=True)

Data inserted successfully into MySQL database.

C:\Users\kiran\AppData\Local\Temp\ipykernel_24992\2585439502.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(0.0, inplace=True)

Data inserted successfully into MySQL database.
Data inserted successfully into MySQL database.

C:\Users\kiran\AppData\Local\Temp\ipykernel_24992\2585439502.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(0.0, inplace=True)